USE [master]
GO
/****** Object:  Database [NETFLIXCLONE]    Script Date: 30/5/2024 2:50:49 p. m. ******/
CREATE DATABASE [NETFLIXCLONE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NETFLIXCLONE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NETFLIXCLONE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NETFLIXCLONE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NETFLIXCLONE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NETFLIXCLONE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NETFLIXCLONE]
GO
/****** Object:  User [visita]    Script Date: 30/5/2024 2:50:49 p. m. ******/
CREATE USER [visita] FOR LOGIN [visita] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Slether]    Script Date: 30/5/2024 2:50:49 p. m. ******/
CREATE USER [Slether] FOR LOGIN [Slether] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [visita]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [visita]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [visita]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [visita]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [visita]
GO
ALTER ROLE [db_datareader] ADD MEMBER [visita]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [visita]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [visita]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [visita]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 30/5/2024 2:50:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDcategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 30/5/2024 2:50:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[IDgenero] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDgenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOR]    Script Date: 30/5/2024 2:50:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOR](
	[IDproductor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Empresa] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDproductor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 30/5/2024 2:50:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[SerieID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[IDcategoria] [int] NOT NULL,
	[IDproductor] [int] NOT NULL,
	[IDgenero] [int] NOT NULL,
	[IDgenero2] [int] NOT NULL,
	[URL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SerieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD FOREIGN KEY([IDcategoria])
REFERENCES [dbo].[CATEGORIA] ([IDcategoria])
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD FOREIGN KEY([IDgenero])
REFERENCES [dbo].[GENERO] ([IDgenero])
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD FOREIGN KEY([IDproductor])
REFERENCES [dbo].[PRODUCTOR] ([IDproductor])
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD  CONSTRAINT [FK_Series_Genero2] FOREIGN KEY([IDgenero2])
REFERENCES [dbo].[GENERO] ([IDgenero])
GO
ALTER TABLE [dbo].[Series] CHECK CONSTRAINT [FK_Series_Genero2]
GO
USE [master]
GO
