@model MiniProyecto.Web.Models.GeneroModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GeneroModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Tipo">Nombre del Genero:</label>
                <input asp-for=Tipo type="text" id="name " name="Tipo" required>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
